{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load cart_tag %}
{% load cart_filter %}


{% block content %}

<div class="container row sandeep">
    {% if request.session.cart %}

    <div class="col-md-8">
        {% for key,value in request.session.cart.items %}
        <div class="container row border mt-4 rounded cart-div">
            <div class="col-md-3 container">
                <img class="p-2" src="{{value.image}}" width="120" height="80">
                <div class="container row">
                    <div class="col-sm-4 decrement border rounded-circle" data-pid="{{value.product_id}}">-</div>
                    <div class="col-sm-4 quantity border text-center">{{value.quantity}}</div>
                    <div class="col-sm-4 increment border rounded-circle " data-pid="{{value.product_id}}">+</div>

                </div>


            </div>

            <div class="col-md-9">
                <h5>{{value.name}}</h5>
                <h6>Price:{{value.price}} </h6>
                <div>
                    <h4 class="total" data-pid="{{value.product_id}}"> Total: ₹
                        {{ value.price|multiply:value.quantity }}
                    </h4>

                </div>
                <div>
                    <i class="fa fa-trash fa-2x item-del" data-pid="{{value.product_id}}" style='font-size:15px'></i>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <div class="col-md-4" id="detail-div">
        <div class="container border mt-4 center rounded">
            <h5 class="text-center detail">PRICE DETAILS</h5>
            <hr>
            <h6 class="bill">Total Product <span class="cdetail">{{request.session.cart|cart_quantity}}</span></h6>
            <hr>
            <h5 class="bill">Total Amount <span class="cdetail" id="amount">{{cart_amount}}</span></h5>
            <button type="button" class="btn form-control mb-2" id="place-order" data-bs-toggle="modal"
                data-bs-target="#exampleModal" data-bs-whatever="@mdo">Place Order</button>
        </div>
    </div>
    {% else %}
    <script>    
        Swal.fire({
          title: '<strong>Cart is Empty</strong>',
          icon: 'info',
          html:
            'Please Add Items !',
          showCloseButton: true,
    
          focusConfirm: false,
         
          
        })
    
        document.querySelector(".swal2-confirm").addEventListener("click", function() {
          window.location.href='http://127.0.0.1:8000/';
    });
      </script>
    {% endif %}

</div>

<!-- Address Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Address</h5>
            </div>
            <div class="modal-body">
                <form action="{% url 'store:payment' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="mobile-number" class="col-form-label">Mobile Number*</label>
                        <input type="text" class="form-control address" name="mobile" id="mobile-number" placeholder="Mobile">
                        <p id="mobile-error" style="display: none;"></p>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="col-form-label">Address*</label>
                        <input type="text" class="form-control address" name="address" id="address" placeholder="House No. / street">
                        <p id="address-error" style="display: none;"></p>
                    </div>
                    <div class="mb-3">
                        <label for="city" class="col-form-label">City*</label>
                        <input type="text" class="form-control address" name="city" id="city" placeholder="City">
                        <p id="city-error" style="display: none;"></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="state" class="col-form-label">State*</label>
                            <input type="text" class="form-control address" name="state" id="state" placeholder="State">
                            <p id="state-error" style="display: none;"></p>
                        </div>
                        <div class="col-md-6">
                            <label for="zip-code" class="col-form-label">Zip Code*</label>
                            <input type="text" class="form-control address" name="zip_code" id="zip-code" placeholder="Zip Code">
                            <p id="zip-error" style="display: none;"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="proceed-to-pay">Proceed To Pay</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}