{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <!-- Billing div -->
            <div class="col border mt-5 rounded ">
                <h3 class="summary">Billing Address</h3>

                <div class="summary-div">
                    <div class="row sum">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Name</label>
                            <input type="text" readonly class="form-control"
                                value="{{request.user.first_name}}  {{request.user.last_name}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Mobile</label>
                            <input type="text" readonly class="form-control" value="{{address.mobile}}">
                        </div>
                    </div>

                    <div class="form-group e-sum">
                        <label for="inputAddress">Email</label>
                        <input type="text" readonly class="form-control" value="{{request.user.email}}">
                    </div>
                    <div class="form-group e-sum">
                        <label for="inputAddress2">Address</label>
                        <input type="text" readonly class="form-control" value="{{address.address}}">
                    </div>

                    <div class="row sum">
                        <div class="form-group col-md-4">
                            <label for="inputCity">City</label>
                            <input type="text" readonly class="form-control" value="{{address.city}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <input type="text" readonly class="form-control" value="{{address.state}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputZip">Zip</label>
                            <input type="text" readonly class="form-control" value="{{address.zip_code}}">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Order summary -->
            <div class="col border rounded summary-div mt-5">
                <h3 class="summary">Order Summary</h3>

                <div class="order-div">
                    <table class="table table-borderless table-xxl table-secondary">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for orderline in orderlines %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{orderline.product.name}}</td>
                                <td>{{orderline.product.price}}</td>
                                <td>{{orderline.quantity}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot class="table-primary">
                            <th scope="row">Total</th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row">{{order.amount}}</th>
        
        
                        </tfoot>
                    </table>
        
                    <button class="btn btn-success" id="rzp-button1" style="float:right">Proceed To Pay</button>
        
                </div>
            </div>
        </div>
</div>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "{{razorpay_merchant_id}}", // Enter the Key ID generated from the Dashboard
        "amount": "{{final_price}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "E-Deal",
        "description": "Test Transaction",
        "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 2
        "callback_url": "{{callback_url}}",


        "prefill": {
            "name": "{{request.user.firstname}}",
            "email": "{{request.user.email}}",
            "contact": "{{request.user.mobile}}"
        },

        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);

    document.getElementById('rzp-button1').onclick = function (e) {
        rzp1.open();
        e.preventDefault();
    }
</script>
{% endblock %}